[submodule "bank-backend"]
	path = bank-backend
	url = https://github.com/katekate7/bank-backend.git
[submodule "bank-frontend"]
	path = bank-frontend
	url = https://github.com/katekate7/bank-frontend.git
